<h1><%= @question.author %> asked:</h1>

<h4><%= @question.content %></h4>

<h3>Answers:</h3>
<ul class="list-group well">
  <% @question.responses.order(votes: :desc).each do |response| %>
  <li class="list-group-item"><strong><%= response.votes %> votes ||    </strong><strong><%= response.author %>:</strong> <%= response.content %> <%= button_to "+1", upvote_question_response_path(@question, response), :method => "post" %></li>
  <% end %>
</ul>


<div class="btn-group">
  <% if current_user %>
  <% if current_user.id == @question.user.id %>
  <%= link_to "Edit", edit_question_path(@question), :class => "btn btn-primary" %>
  <%= link_to "Delete", question_path(@question), :class => "btn btn-primary", :data => {:confirm => "You Sure?", :method => 'delete'} %>
  <% end %>

  <%= link_to "Add a response", new_question_response_path(@question), :class => "btn btn-primary" %>
  <% end %>
</div>


<hr>

<%= link_to "Back to Homepage", questions_path %>
