<%= form_for [@question, @response] do |f| %>
<div class="field">
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>
<div class="field">
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
